body {
  background-color: white;
  color: #6F6F6F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
  margin: 2ex 2em;
}

h1, h2, h3, h4 {
  color: #E9601A;
}

a {
  color: #6F6F6F;
  text-decoration: underline;
}

div#datetime {
  font-size: 80%;
  text-align: right;
}
#logout{
  
  margin-top: 30px;
}
#logo{

 width: 200px;
  height:40px;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 10px;
  width: 200px;
}
.panel-group{
  margin-top: 100px;
  margin-right: 20%;
}
#training {
  margin-top: 100px;
  width: 80%;
}
#legend{
  color:black;
}