<!DOCTYPE html>
<html lang="en">
<form class="form-horizontal" action="{{ url_for('site.contract_page') }}" method="post">
<head>
    <meta charset="UTF-8">
    <title>beeInfootball</title>
</head>
<body>
    <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Salary">Salary</label>
            <div class="col-md-4">
                <input id="Salary" name="Salary" placeholder="Salary" class="form-control input-md" required=""
                       type="text">

            </div>
        </div>
    <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="SignPremium">Sign Premium</label>
            <div class="col-md-4">
                <input id="SignPremium" name="SignPremium" placeholder="SignPremium" class="form-control input-md" required=""
                       type="text">

            </div>
        </div>
    <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="MatchPremium">Match Premium</label>
            <div class="col-md-4">
                <input id="MatchPremium" name="MatchPremium" placeholder="MatchPremium" class="form-control input-md" required=""
                       type="text">

            </div>
        </div>
    <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="GoalPremium">Goal Premium</label>
            <div class="col-md-4">
                <input id="GoalPremium" name="GoalPremium" placeholder="GoalPremium" class="form-control input-md" required=""
                       type="text">

            </div>
        </div>
    <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="AssistPremium">Assist Premium</label>
            <div class="col-md-4">
                <input id="AssistPremium" name="AssistPremium" placeholder="AssistPremium" class="form-control input-md" required=""
                       type="text">

            </div>
        </div>

        <div class="well">
            <label class="col-md-4 control-label" for="StartDate">Start Date</label>
            <div id="datetimepicker1" class="input-append date">
                <input data-format="dd/MM/yyyy hh:mm:ss" type="date" id="StartDate" name="StartDate" placeholder="StartDate"></input>
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                        </i>
                    </span>
            </div>
        </div>
        <div class="well">
            <label class="col-md-4 control-label" for="EndDate">End Date</label>
            <div id="datetimepicker1" class="input-append date">
                <input data-format="dd/MM/yyyy hh:mm:ss" type="date" id="EndDate" name="EndDate" placeholder="EndDate"></input>
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                        </i>
                    </span>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="login_button"></label>
            <div class="col-md-4">
                <button id="submit_button" name="submit_button" class="btn btn-primary">Submit</button>
            </div>
        </div>
</body>
</html>