{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid " id="training">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Contracts List
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="" method="post" name="cities" class="form-horizontal">
                            {% if current_user.username == 'admin' %}
                                <a href="{{ url_for('site.contract_add') }}">
                                    <button type="button" id="add" name="add" class="btn btn-success">
                                        Add
                                    </button>
                                </a>
                                <a href="{{ url_for('site.contract_page') }}">
                                    <button type="submit" id="delete" name="delete" class="btn btn-primary">
                                        Delete
                                    </button>
                                </a>
                            {% endif %}

                            <br>
                            <br>

                            <table class="table table-bordered table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Start Date
                                    </th>
                                    <th>
                                        End Date
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for contract in contracts %}
                                    <tr>

                                        <td>
                                            <input type="checkbox" name="contract_to_delete"
                                                   value="{{ contract[0] }}"
                                                   class="checkthis"/>
                                        </td>
                                        <td>
                                            {{ loop.index }}
                                        </td>
                                        <td>
                                            {{ contract[1] }}
                                        </td>
                                        <td>
                                            {{ contract[2] }} {{ contract[3] }}
                                        </td>
                                        <td>
                                            {{ contract[4] }}
                                        </td>
                                        <td>
                                            {{ contract[5] }}
                                        </td>
                                        <td><a href="/contract/update/{{ contract[0] }}"
                                               class="btn btn-default btn-xs pull-right"><i
                                                class="glyphicon glyphicon-edit"></i>
                                        </a></td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}