{% extends "layout.html" %}
{% block content %}

    <form class="form-horizontal" action="{{ url_for('site.contract_add') }}" method="post">

        <!-- Form Name -->
        <legend style="color: white">Contract Add</legend>

        <!-- Type Input -->

            <div class="form-group">
                <label class="col-md-3 control-label" for="UserID">User</label>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon"></span>
                        <select id="UserID" name="UserID" class="selectpicker form-control">
                            {% for UserID in UserIDs %}
                                    <option value="{{ UserID[0] }}">{{ UserID[1] }} {{ UserID[2] }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="Salary">Salary</label>
                <div class="col-md-3">
                    <input id="Salary" name="Salary" placeholder="Salary" class="form-control input-md" required=""
                           type="text">

                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="SignPremium">Sign Premium</label>
                <div class="col-md-3">
                    <input id="SignPremium" name="SignPremium" placeholder="SignPremium" class="form-control input-md"
                           required=""
                           type="text">

                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="MatchPremium">Match Premium</label>
                <div class="col-md-3">
                    <input id="MatchPremium" name="MatchPremium" placeholder="MatchPremium"
                           class="form-control input-md"
                           required=""
                           type="text">

                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="GoalPremium">Goal Premium</label>
                <div class="col-md-3">
                    <input id="GoalPremium" name="GoalPremium" placeholder="GoalPremium" class="form-control input-md"
                           required=""
                           type="text">

                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="AssistPremium">Assist Premium</label>
                <div class="col-md-3">
                    <input id="AssistPremium" name="AssistPremium" placeholder="AssistPremium"
                           class="form-control input-md"
                           required=""
                           type="text">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="StartDate">Start Date</label>
                <div id="datetimepicker1" class="input-append date">
                    <input data-format="dd/MM/yyyy hh:mm:ss" type="date" id="StartDate" name="StartDate"
                           placeholder="StartDate"></input>
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                        </i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="EndDate">End Date</label>
                <div id="datetimepicker1" class="input-append date">
                    <input data-format="dd/MM/yyyy hh:mm:ss" type="date" id="EndDate" name="EndDate"
                           placeholder="EndDate"></input>
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                        </i>
                    </span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="login_button"></label>
                <div class="col-md-3">
                    <button id="submit_button" name="submit_button" class="btn btn-primary">Submit</button>
                </div>
            </div>
    </form>
{% endblock %}