{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid " id="premium">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Premium List
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="" method="post" name="cities" class="form-horizontal">
                            {% if current_user.username == 'admin'%}
                                <a href="{{ url_for('site.premiums_add') }}">
                                    <button type="button" id="add" name="add" class="btn btn-success">
                                        Update
                                    </button>
                                </a>
                                <a href="{{ url_for('site.premiums_page') }}">
                                    <button type="submit" id="delete" name="delete" class="btn btn-primary">
                                        Delete
                                    </button>
                                </a>
                            {% endif %}

                            <br>
                            <br>
                            <table class="table table-bordered table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                    <th>
                                        Sign Premium
                                    </th>
                                    <th>
                                        Goal Premium
                                    </th>
                                    <th>
                                        Assist Premium
                                    </th>
                                    <th>
                                        Match Premium
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for premium in premiums %}
                                    <tr>

                                        <td>
                                            <input type="checkbox" name="premium_to_delete"
                                                   value="{{ premium[0] }}"
                                                   class="checkthis"/>
                                        </td>
                                        <td>
                                            {{ loop.index }}
                                        </td>
                                        <td>
                                            {{ premium[1] }} {{ premium[2] }}
                                        </td>
                                        <td>
                                            {{ premium[3] }}
                                        </td>
                                        <td>
                                            {{ premium[4] }}
                                        </td>
                                        <td>
                                            {{ premium[5] }}
                                        </td>
                                        <td>
                                            {{ premium[6] }}
                                        </td>
                                        <td>
                                            {{ premium[7] }}
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}