{% extends "layout.html" %}
{% block content %}
    {% if (usertype == 95)%}
    <form class="form-horizontal" action="{{ url_for('site.profile_page') }}" method="post">
        <fieldset>
            <!-- Form Name -->
            <legend>Form Name</legend>
            <!-- BirthCity input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="User">Users</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"></span>
                        <select id="User" name="User" class="selectpicker form-control">
                            {% for user in users %}
                                <option value=" {{ user[2] }}">{{ user[0] }} {{ user[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="update_button"></label>
                <div class="col-md-4">
                    <button id="update_button" name="update_button" class="btn btn-primary">Update</button>
                </div>
            </div>

        </fieldset>
    </form>
    {% else %}
    <!-- normal users see their profile info here -->
    {% endif %}
{% endblock %}