{% extends "layout.html" %}
{% block content %}
<form class="form-horizontal" action="{{ url_for('site.register_page') }}" method="post">
    <fieldset>

        <!-- Form Name -->
        <legend>Form Name</legend>

        <!-- Type input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="TypeID">Type ID</label>
            <div class="col-md-4">
                <input id="TypeID" name="TypeID" placeholder="Type ID" class="form-control input-md"
                       required="" type="text">

            </div>
        </div>

        <!-- Position input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="PositionID">Position ID</label>
            <div class="col-md-4">
                <input id="PositionID" name="PositionID" placeholder="PositionID" class="form-control input-md"
                       type="text">

            </div>
        </div>

        <!-- BirthCity input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="BirthCityID">BirthCity ID</label>
            <div class="col-md-4">
                <input id="BirthCityID" name="BirthCityID" placeholder="BirthCityID" class="form-control input-md"
                       type="text">

            </div>
        </div>

        <!-- No input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="No">No</label>
            <div class="col-md-4">
                <input id="No" name="No" placeholder="No" class="form-control input-md"
                       type="text">

            </div>
        </div>

        <!-- Birthday input-->

        <div class="form-group">
            <label class="col-md-4 control-label" for="Birthday">Start Date</label>
            <div id="datetimepicker1" class="input-append date">
                <input data-format="dd/MM/yyyy hh:mm:ss" type="date" id="Birthday" name="Birthday" placeholder="Birthday"></input>
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                        </i>
                    </span>
            </div>
        </div>
        <!-- Name input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Name">Name</label>
            <div class="col-md-4">
                <input id="Name" name="Name" placeholder="Name" class="form-control input-md"
                       type="text">

            </div>
        </div>

         <!-- Surname input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Surname">Surname</label>
            <div class="col-md-4">
                <input id="Surname" name="Surname" placeholder="Surname" class="form-control input-md"
                       type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="username">User Name</label>
            <div class="col-md-4">
                <input id="username" name="username" placeholder="User name" class="form-control input-md"
                       required="" type="text">

            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password</label>
            <div class="col-md-4">
                <input id="password" name="password" placeholder="Password" class="form-control input-md"
                       required="" type="password">

            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="login_button"></label>
            <div class="col-md-4">
                <button id="register_button" name="register_button" class="btn btn-primary">Register</button>
            </div>
        </div>

    </fieldset>
</form>
{% endblock %}

