{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid " id="training">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Observed Players
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="" method="post" name="cities" class="form-horizontal">

                                <a href="{{ url_for('site.scouting_add') }}">
                                    <button type="button" id="add" name="add" class="btn btn-success">
                                        Add
                                    </button>
                                </a>
                                <a href="{{ url_for('site.scouting_page') }}">
                                    <button type="submit" id="delete" name="delete" class="btn btn-primary">
                                        Delete
                                    </button>
                                </a>
                        

                            <br>
                            <br>

                            <table class="table table-bordered table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Home Team
                                    </th>
                                    <th>
                                        Away Team
                                    </th>
                                    <th>
                                        Player Name
                                    </th>
                                    <th>
                                        Player Surname
                                    </th>
                                    <th>
                                        Point
                                    </th>
                                    <th>
                                        Match Date
                                    </th>
                                    <th>
                                        Stadium
                                    </th>
                                    <th>
                                        Create Date
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for player in observedPlayers %}
                                    <tr>

                                        <td>
                                            <input type="checkbox" name="scouting_to_delete"
                                                   value="{{ player[0] }}"
                                                   class="checkthis"/>
                                        </td>
                                        <td>
                                            {{ loop.index }}
                                        </td>
                                        <td>
                                            {{ player[5] }}
                                        </td>
                                        <td>
                                            {{ player[6] }}
                                        </td>
                                        <td>
                                            {{ player[1] }}
                                        </td>
                                        <td>
                                            {{ player[2] }}
                                        </td>
                                        <td>
                                            {{ player[3] }}
                                        </td>
                                        <td>
                                            {{ player[8] }}
                                        </td>
                                        <td>
                                            {{ player[7] }}
                                        </td>
                                        <td>
                                            {{ player[4] }}
                                        </td>
                                        <td><a href="/scouting/update/{{ player[0] }}"
                                               class="btn btn-default btn-xs pull-right"><i
                                                class="glyphicon glyphicon-edit"></i>
                                        </a></td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}