{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid " id="training">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Observed Players
                        </h3>
                    </div>
                    <div class="panel-body">


                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}