{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid " id="training">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Training List
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="" method="post" name="cities" class="form-horizontal">
                            {% if current_user.username == 'admin' %}
                                <a href="{{ url_for('site.training_add') }}">
                                    <button type="button" id="add" name="add" class="btn btn-success">
                                        Add
                                    </button>
                                </a>
                                <a href="{{ url_for('site.training_page') }}">
                                    <button type="submit" id="delete" name="delete" class="btn btn-primary">
                                        Delete
                                    </button>
                                </a>
                            {% endif %}

                            <br>
                            <br>

                            <table class="table table-bordered table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Location
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for training in trainings %}
                                    <tr>

                                        <td>
                                            <input type="checkbox" name="training_to_delete"
                                                   value="{{ training[0] }}"
                                                   class="checkthis"/>
                                        </td>
                                        <td>
                                            {{ loop.index }}
                                        </td>
                                        <td>
                                            {{ training[1] }}
                                        </td>
                                        <td>
                                            {{ training[2] }}
                                        </td>
                                        <td>
                                            {{ training[3] }}
                                        </td>
                                        <td>
                                            {{ training[4] }}
                                        </td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}